---
layout: page
title: Статьи о Linux
permalink: /linux/
weight: 2
linkName: Linux
---

<div class="main">
	<ul class="post-list">
    {% for post in site.posts %}
    {% if post.my_category == 'Linux' %}
      <li>
        <h2 class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
        </h2>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} by {{ post.author}}</span>

       <!--  <span class="post-author">by {{ post.category }}</span> -->


        <p class="post-description">
          {{ post.description }}<br/><span><a class="read-more" href="{{ post.url | prepend: site.baseurl }}">more</a></span>
        </p>

      </li>
      	{% endif %}
    {% endfor %}
  </ul>
</div>
