<header class="site-header">
  <div class="wrapper">
    <div class="site-logo">
      <a class="site-title" href="{{ site.baseurl }}/">How To Do by NDA</a>
    </div>
    <nav class="site-nav">
    <div class="handler">Menu</div>
      <ul class="navUl">
<!--       {% for p in site.pages %}
          {% if '/HTD/' == '/HTD/' %}
         <a href="{{p.url}}/"><li {% if p.url == page.url%}class="active"{% endif %}>Блог</li></a>
          {% endif %}
      {% endfor %} -->
     <a href="{{site.baseurl}}/"><li id="linkHome">Blog</li></a>
      {% assign pages = site.pages | sort: "weight"%}
      {% for p in pages %}
          {% if p.title %}
        <a href="{{ p.url | prepend: site.baseurl }}"><li {% if p.url == page.url%}class="active"{% endif %}>{{p.linkName}}</li></a>
          {% endif %}
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
